log/
logs/
*.log
tmp/
*.tmp
*.bak
sdk/
/target

.mvn/
mvnw
mvnw.cmd

env
.idea/
out/
.idea
*.iws
*.iml
*.ipr

.settings/
.classpath
.project
.apt_generated
.factorypath
.springBeans

metastore_db/
/spark-warehouse/
.DS_Store
